@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #ebebeb;
  --background-hex: #202020;
}

body {
  color: var(--foreground-hex);
  background: var(--background-hex);
}
